@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Look at me ma!</title>
</head>
<body>
<div>
    <a href="/Home/Index/">Back</a>
    <br/>
    Look at me ma!
    @Model

</div>
</body>
</html>